{% extends "layout.html" %}
{% block body %}
<div class="myproduct">
<div class="title">'Scotland Scottish Flag iPad Mini Covers'</div>
<img class="image" src="http://rlv.zcache.com/scotland_scottish_flag_ipad_mini_covers-ra45a7c67ad9745849bc62016ebe110d4_w9k37_8byvr_152.jpg" alt="Paris">
<div class="price">'$54.25'</div>
<a href="'http://www.zazzle.com/scotland_scottish_flag_ipad_mini_covers-256482876920528706'">link + referal Buy customizr</a>
<div>see on other products</div>
<div> promo code</div>    
<div class="author">tjk_creative'</div>
</div>
{% endblock %}