<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>HTML</title>
        <meta name="author" content="Kleszczewski  tim" />
        <!-- Date: 2016-11-05 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="mytestcss.css">

    </head>
    <title>
	 Cool Fun Awesome things
	</title>
   
</head>

<body>

    <div id="search">
	{% block search %}{% endblock %}
	</div>
{% block result %}{% endblock %}
{% block nav %}{% endblock %}

  <div class="container-fluid text-center">
            <h2>SERVICES</h2>
            <h4>What we offer</h4>
            <br>
			  <div class="row">
			  <div id="content">
	{% block content %}{% endblock %}
	</div>
</div>
</div>



    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>