<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>HTML</title>
        <meta name="author" content="Kleszczewski  tim" />
        <!-- Date: 2016-11-05 -->
    </head>
    <body>
<h1>This  is my test</h1> 
<div class="title">'Scotland Scottish Flag iPad Mini Covers'</div>
<img class="image" src="http://rlv.zcache.com/scotland_scottish_flag_ipad_mini_covers-ra45a7c67ad9745849bc62016ebe110d4_w9k37_8byvr_152.jpg" alt="Paris">
<div class="price">'$54.25'</div>
<a href="'http://www.zazzle.com/scotland_scottish_flag_ipad_mini_covers-256482876920528706'">link + referal Buy customizr</a>
<div>see on other products</div>
<div> promo code</div>    
<div class="author">tjk_creative'</div>
    </body>
</html>
